In [1]:
\l htmltable.q

Define a long table

In [2]:
lastprice:([sym:100000?`IBM`MSFT`AAPL`GOOG;exch:100000?`A`B`C]time:asc 100000?.z.p;price:10f+100000?10f;size:100*1+100000?10)

Display as html table

In [3]:
maxcols:6
maxrows:20
displayhtmltab[maxrows;maxcols]lastprice

`MSFT,`C,2000.01.01D00:23:34.972602912,11.58824,900
`AAPL,`C,2000.01.01D01:41:29.023671807,13.56016,200
`GOOG,`A,2000.01.01D02:23:22.343989602,11.57379,1000
`MSFT,`B,2000.01.01D04:28:08.968645948,13.50636,600
`MSFT,`B,2000.01.01D08:21:32.800223879,15.92621,500
`AAPL,`A,2000.01.01D09:02:37.941443839,12.33879,700
`AAPL,`A,2000.01.01D09:41:03.888067288,13.28297,700
`MSFT,`C,2000.01.01D11:51:02.930422838,17.9018,200
`MSFT,`C,2000.01.01D11:53:38.596409366,12.1621,900
`MSFT,`B,2000.01.01D13:08:17.081055779,12.09441,600
`GOOG,`C,2000.01.01D16:25:03.131477796,14.24295,500
`GOOG,`B,2000.01.01D18:08:08.377629506,15.43161,1000
`AAPL,`B,2000.01.01D18:19:40.935196421,10.20286,300
`IBM,`B,2000.01.01D18:52:21.213757372,19.98186,800
`GOOG,`B,2000.01.01D20:41:43.478314116,18.83281,100
`AAPL,`C,2000.01.01D20:43:55.665472685,11.81453,200
`IBM,`C,2000.01.01D22:13:01.238164370,12.37209,1000
`IBM,`B,2000.01.01D22:13:11.823994317,10.7064,300
`GOOG,`A,2000.01.01D23:49:49.194479509,13.62771,200
`AAPL,`A,2000.01.02D02:41:19.299766811,10.04908,900
..,..,..,..,..